<form action="/sessions" method="post">
  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <!-- Label and input for start_time -->
  <div class="form-group">
    <label for="start_time" class="control-label">
      Start Date
    </label>

    <div class='input-group date' id='datetimepicker1' >
    <input type='text' class="form-control" name="start_time" id="start_time">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <div class="form-group">
    <label for="end_time" class="control-label">
      End Date
    </label>

    <div class='input-group date' id='datetimepicker2'>
    <input type='text' class="form-control" name="end_time" id="end_time">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <button class="btn btn-success">
    Submit Dates
  </button>
</form>

<%= @start_time.strftime('%m%d%y') %>
<%= @end_time.strftime('%m%d%y') %>
<%= @dt.strftime('%m%d%y') %>
<%= @et.strftime('%m%d%y') %>
<%= @start_time - @dt %>
<%= @end_time - @et %>

<%= current_user.first_name %>

<div class="container">
  <div class="header">
    <h1>
      Sessions
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>Session name</th>
          <th>Date</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Instructor</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>

        <% @sessions.each do |session| %>
        <tr>
          <td><strong><%= session.session_name %></strong></td>
          <td><%= session.start_time.strftime("%m-%d-%Y") %></td>
          <td><%= session.start_time.strftime("%l:%M %p") %></td>
          <td><%= session.end_time.strftime("%l:%M %p") %></td>
          <td><%= session.instructor.first_name%> <%= session.instructor.last_name %></td>
          <td><%= session.location %></td>
          <td>
            <a href="/sessions/<%= session.id %>" class="btn btn-primary">See RSVPs</a>
            <a href="/delete_session/<%= session.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker({format: 'MM-DD-YYYY'});   });
</script>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker2').datetimepicker({format: 'MM-DD-YYYY'});  });
</script>
