<form action="/sessions" method="post">
  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


  <div class="container">
    <div class="header">
      <h4>
        My Sessions
      </h4>
    </div>
  </div>
  <!-- Label and input for start_time -->
  <div class="container">
    <div class='col-md-5'>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker1' >
          <input type='text' class="form-control" name="start_time1" id="start_time1">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class='col-md-5'>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker2'>
          <input type='text' class="form-control" name="end_time1" id="end_time1">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <button class="btn btn-success">
      Filter Dates
    </button>
  </form>
</div>



<%= @d %>
<%= @d %>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>Session name</th>
          <th>Date</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Instructor</th>
          <th>Location</th>
          <th></th>
        </tr>

        <% @sessions.each do |session| %>
        <tr>
          <td><strong><%= session.session_name %></strong></td>
          <td><%= session.start_time.strftime("%m-%d-%Y") %></td>
          <td><%= session.start_time.strftime("%l:%M %p") %></td>
          <td><%= session.end_time.strftime("%l:%M %p") %></td>
          <td><%= session.instructor.first_name%> <%= session.instructor.last_name %></td>
          <td><%= session.location %></td>
          <td>
            <a href="/sessions/<%= session.id %>" class="btn btn-success">See RSVPs</a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function () {
  $('#datetimepicker1').datetimepicker({format: 'MM-DD-YYYY'});   });
  </script>

  <script type="text/javascript">
  $(function () {
    $('#datetimepicker2').datetimepicker({format: 'MM-DD-YYYY'});  });
    </script>
