
<div class="container">
  <div class="header">
    <h4>
      <%= @session.session_name %> Resident Check In
    </h4>
  </div>
</div>

<!-- #show the information for the session -->
<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <dt>Date</dt>
    </div>
    <div class="col-sm-8">
      <dd><%= @session.start_time.strftime("%A, %B %d %Y") %></dd>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <dt>Time</dt>
    </div>
    <div class="col-sm-8">
      <dd><%= @session.start_time.strftime("%l:%M %p") %> to <%= @session.end_time.strftime("%l:%M %p") %></dd>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <dt>Location</dt>
    </div>
    <div class="col-sm-1">
      <dd><%= @session.location %></dd>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <dt>Instructor</dt>
    </div>
    <div class="col-sm-8">
      <dd><%= @session.instructor.first_name %> <%= @session.instructor.last_name%></dd>
    </div>
  </div>

  <!-- create a table to show the results of RSVPS -->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Confirmed</th>
              <th></th>
        </tr>

        <!-- Loop through the Session RSVPS to list them all out and press botton to confirm they attended-->
        <% @session_rsvps.each do |rsvps| %>
        <tr>
          <td><%= rsvps.resident.first_name %></td>
          <td><%= rsvps.resident.last_name %></td>
          <td>

            <form action="/update_rsvp/<%= rsvps.id %>" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <!-- Linput for session_id -->
              <input type="hidden" id="session_id" name="session_id" placeholder="Session" class="form-control" value="<%= rsvps.session_id %>">
              <!-- input for resident_id -->
              <input type="hidden" id="resident_id" name="resident_id" placeholder="Resident" class="form-control" value="<%= rsvps.resident_id %>">
              <!-- Label and input for confirmed -->
              <input type="checkbox" id="confirmed" name="confirmed" value="1" <%= "checked" if rsvps.confirmed %>>
            </td>
            <td>
              <button class="btn btn-success">
                Update Rsvp
              </button>
            </td>
          </form>

        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <form action="/create_rsvp" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <!-- Label and input for session_id -->
      <input type="hidden" id="session_id" name="session_id" placeholder="Session" class="form-control" value="<%= @session.id %>">

      <!-- input True for confirmed -->
      <input type="hidden" id="confirmed" name="confirmed" value="1" <%= "checked" if 1 %>>


      <div class="col-sm-3">
        <dd>
          <button class="btn btn-success" type="submit">
            Confirm Resident Via Dropdown -->
          </button>
        </dd>

      </div>

      <!-- Label and input for resident_id -->

      <div class="col-sm-8">
        <div class="input-group">
          <%= select_tag(:resident_id, options_from_collection_for_select(Resident.order("last_name ASC"), :id, :full_name), :class => "form-control") %>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <a href="/residents/new" role="button" class="btn btn-primary"> - Add a Resident to the Dropdown -</a>
    </div>
    <a href="/sessions/" class="btn btn-primary pull-right">Back</a>
  </div>

</div>
