<div class="page-header">
  <h3><%= @session.session_name %> Resident Check In</h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Date</dt>
      <dd><%= @session.start_time.strftime("%A, %B %d %Y") %></dd>

      <dt>Time</dt>
      <dd><%= @session.start_time.strftime("%l:%M %p") %> to <%= @session.end_time.strftime("%l:%M %p") %></dd>

      <dt>Location</dt>
      <dd><%= @session.location %></dd>

      <dt>Instructor</dt>
      <dd><%= @session.instructor_id %> FIXXXX</dd>

    </dl>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Confirmed</th>
        <th></th>
      </tr>

      <% @session_rsvps.each do |rsvps| %>
      <tr>
        <td><%= rsvps.resident.first_name %></td>
        <td><%= rsvps.resident.last_name %></td>
        <td>

          <form action="/update_rsvp/<%= rsvps.id %>" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <!-- Linput for session_id -->
            <input type="hidden" id="session_id" name="session_id" placeholder="Session" class="form-control" value="<%= rsvps.session_id %>">
            <!-- input for resident_id -->
            <input type="hidden" id="resident_id" name="resident_id" placeholder="Resident" class="form-control" value="<%= rsvps.resident_id %>">
            <!-- Label and input for confirmed -->
            <input type="checkbox" id="confirmed" name="confirmed" value="1" <%= "checked" if rsvps.confirmed %>>
          </td>
          <td>
            <button class="btn btn-success">
              Update Rsvp
            </button>
          </form>

        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="container">
    <h6> <strong> Add Resident Via Dropdown </strong> </h6>
  </div>
  <form action="/create_rsvp" method="post">
    <!-- Hidden input for authenticity token to protect from forgery -->

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <!-- Label and input for session_id -->
    <input type="hidden" id="session_id" name="session_id" placeholder="Session" class="form-control" value="<%= @session.id %>">

    <!-- input True for confirmed -->
    <input type="hidden" id="confirmed" name="confirmed" value="1" <%= "checked" if 1 %>>

    <!-- Label and input for resident_id -->
    <div class="col-md-6">
      <div class="input-group">
        <%= select_tag(:resident_id, options_from_collection_for_select(Resident.order("last_name ASC"), :id, :full_name), :class => "form-control") %>

        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">
            Add Resident As Confirmed
          </button>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <h6> <strong> Add New Resident</strong>  </h6>
    <a href="/residents/new" role="button" class="btn btn-info"> Add New Resident If Not In Dropdown</a>
  </div>
</div>
<a href="/sessions/" class="btn btn-warning pull-right">Back</a>
