<div class="page-header">
  <h3><%= @session.session_name %> Resident Check In</h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Date</dt>
      <dd><%= @session.start_time.strftime("%A, %B %d %Y") %></dd>

      <dt>Time</dt>
      <dd><%= @session.start_time.strftime("%l:%M %p") %> to <%= @session.end_time.strftime("%l:%M %p") %></dd>

      <dt>Location</dt>
      <dd><%= @session.location %></dd>

      <dt>Instructor</dt>
      <dd><%= @session.instructor_id %> FIXXXX</dd>

    </dl>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Confirmed</th>
      </tr>

      <% @session_rsvps.each do |rsvps| %>
      <tr>
        <td><%= rsvps.resident.first_name %></td>
        <td><%= rsvps.resident.last_name %></td>
        <td><%= check_box_tag (:rsvps.confirmed,  1, checked = false, options c.rsvps.confirmed %> NEED TO FIGURE OUT</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
